*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

:root {
    --color-black: hsl(0, 0%, 10%);
    --display-100: clamp(0.88rem, calc(0.8rem + 0.38vw), 1rem);
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfontcolor;
    font-size: $bodyfontsize;
    line-height: 1.5;
    background-color: $white;
    font-weight: normal;

    @media (max-width:767px) {
        font-size: 14px;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.overflow-hidden {
    overflow: hidden
}

h1,
.h1 {
    line-height: 1;
    font-size: 60px;
    color: $white;

    @media only screen and (max-width:991px) {
        font-size: 40px;
    }
}

h2,
.h2 {
    line-height: 1.15;
    font-size: 26px;
    color: $white;
}

h3,
.h3 {
    line-height: 1;
    font-size: 16px;
    color: $white;
}

.icons {
    background-size: contain !important;
    display: inline-block;
    @include transition(0.3s, ease-in-out);

    &.icon-close {
        width: 20px;
        height: 20px;
        background: url(../images/icons/close.svg) no-repeat center;
    }
}

.container {
    max-width: 1280px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

// alert-header=====
.alert-sticky {
    background-color: $theme-color;
    padding: 5px 0 5px 0;
    text-align: center;

    .join-title {
        font-size: 12px;
        color: $white;
        text-transform: uppercase;
        font-family: $font-head;
        letter-spacing: 1.71px;
        display: inline-block;

        @media (max-width:991px) {
            span {
                text-decoration: underline;
                display: block;
            }

        }
    }

    .close {
        background: transparent;
        border: none;
        float: right;
    }
}


// card-block=====
.card-block {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include flexbox();
    @include flex-direction(column);
    min-height: 500px;

    @media only screen and (max-width:991px) {
        min-height: 350px;
    }

    &.card-mini{
        .card-body {
            @media only screen and (max-width:991px) {
                padding: 0 15px 15px;
            }
        }
    }

    .card-body {
        text-transform: uppercase;
        margin-top: auto;
        padding: 0 80px 30px 80px;
        z-index: 9;

        @media only screen and (max-width:991px) {
            padding: 0 20px 30px 20px;
        }

        .text-label {
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 2.5px;
            color: $white;
            font-family: $font-head;
        }

        h1 {
            font-style: italic;
            margin: 0;
        }

    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.8;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $black);
        height: 370px;
        @include transition(0.3s, ease-in-out);
    }
}

// main-inner-title=====

.inner-title {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.15;
    letter-spacing: 0.5px;
    color: $theme-color;
    margin: 0;
    text-align: end;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-orientation: mixed;

    @media (max-width:991px) {
        transform: none;
        writing-mode: horizontal-tb;
        text-align: left;
    }
}

// card-block-mini=====
.card-mini {
    min-height: 248px;

    .card-body {
        padding: 0 25px 25px;

        h2 {
            font-style: italic;
            margin: 0;
        }
    }

    &::after {
        height: 125px;
    }
}

//card-banner-item=====
.row-card-items {
    @include flexbox();
    @include flex-flow(wrap);
    margin-left: -2.5px;
    margin-right: -2.5px;

    .col-md-6 {
        width: 50%;
        padding: 0px 2.5px 5px;
    }

    .col-md-4 {
        width: 33.33%;
        padding: 0px 2.5px 5px;
    }

    .col-md-2 {
        width: 20%;
        padding: 0px 20px;
    }

    .w-full {
        width: 100%;
    }

    @media only screen and (max-width:991px) {
        .col-12 {
            width: 100%;
        }
    }
}

//btn=====
.btn {
    position: relative;
    margin-top: 10px;
    margin-left: 12px;
    display: inline-block;
    background: transparent;
    padding: 15px 70px;
    font-size: 13px;
    color: $white;
    font-weight: bold;
    letter-spacing: 2.5px;
    transform: skew(-21deg);
    border: 2px solid $white;
    @include transition(0.3s, ease-in-out);

    span {
        display: inline-block;
        transform: skew(21deg);
    }

    &:hover,
    &:focus {
        background-color: white;
        color: $black;
    }

    &.btn-blue {
        color: $theme-color;
        border: 2px solid $theme-color;

        &:hover,
        &:focus {
            background-color: $theme-color;
            color: $white;

        }

    }
}

.card-section{
    
    .card-mini{
        @media (max-width:480px) {
            min-height: 155px;
        }
    }
}

//img animation=====
.zoom-wrapper {
    overflow: hidden;
    display: block;

    .card-block {
        @include transition(0.3s, ease-in-out);

        &:hover {

            &::after {
                height: 100%;
            }
        }
    }
}

// hero trails=========== -->
.view-block-area {
    background-size: contain !important;
    position: relative;
    margin-top: -10px;

    @media (max-width:991px) {
        background: $white !important;
    }

    .inner-view-block {
        padding: 80px 0;
        position: relative;
        @include flexbox();
        text-transform: uppercase;
        background: $white;

        @media (min-width:991px) {
            margin-right: 20%;
        }

        @media (max-width:991px) {
            display: grid;
            padding: 40px 0;
        }

        .inner-img {
            padding-left: 40px;
            position: relative;

            @media (max-width:1440px) {
                padding-left: 20px;
            }

            @media (max-width:991px) {
                padding-left: 0px;
                padding-top: 20px;
            }

            img {
                object-fit: cover;
                height: 100%;
            }

            &::after {
                content: '';
                position: absolute;
                background-image: url(../images/nature-round.svg);
                background-repeat: no-repeat;
                width: 78px;
                height: 77px;
                bottom: -25px;
                right: -40px;
                background-size: contain;

                @media (max-width:767px) {
                    right: -10px;
                }
            }
        }

        .inner-content {
            padding-left: 80px;
            padding-right: 30px;

            @media (max-width:1366px) {
                padding-left: 60px;
            }

            @media (max-width:991px) {
                padding-left: 0px;
                padding-top: 20px;
                padding-right: 0px;
            }

            .label {
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 2.5px;
                color: $theme-color;
                font-family: $font-head;
                text-transform: uppercase;
                padding-bottom: 5px;
            }

            h2 {
                font-style: italic;
                line-height: 1.15;
                letter-spacing: normal;
                color: $theme-color;
                margin: 0;
                text-transform: none;
                padding-bottom: 15px;

                @media (max-width:991px) {
                    color: #272f33;
                }

            }

            .review-block {
                @include flexbox();
                @include align-items(center);
                @include flex-wrap(wrap);
                gap: 15px;
                padding-bottom: 20px;

                .main-price {
                    font-size: 13px;
                    font-weight: bold;
                    letter-spacing: 2.5px;
                    color: $theme-color;
                    font-family: $font-head;
                }

                .old-price {
                    font-size: 13px;
                    font-weight: bold;
                    letter-spacing: 2.5px;
                    color: #272f33;
                    font-family: $font-head;
                    text-decoration: line-through;
                    opacity: 0.5;
                }
            }

            .inner-info {
                padding-bottom: 20px;

                p {
                    font-size: 14px;
                    line-height: 1.43;
                    font-weight: 400;
                    letter-spacing: 1;
                    color: #8a8a8a;
                    text-transform: none;
                    margin: 0;

                    @media (max-width:991px) {
                        color: #272f33;
                    }
                }
            }



        }

    }
}

//card-post-section=====
.card-post-section {
    padding: 80px 0;

    @media (max-width:991px) {
        padding: 40px 0;
    }

    .row-card-items {
        @media (max-width:991px) {
            display: -ms-grid;
            display: grid;
        }
    }

    .card-post-block {
        @include flexbox();
        grid-gap: 20px;

        @media (max-width:991px) {
            display: -ms-grid;
            display: grid;
        }

    }

    .post-card {

        .post-card-head {
            background-color: #efefef;
            margin-bottom: 20px;
        }

        .post-card-body {

            .card-label {
                color: #8a8a8a;
                font-style: italic;
                line-height: 1.25;
                margin: 0;
                padding-bottom: 30px;

                @media (max-width:991px) {
                    padding-bottom: 15px;
                }
            }

            .price-list {
                @include flexbox();
                @include align-items(center);
                @include flex-wrap(wrap);
                gap: 10px;

                .main-price {
                    font-size: 13px;
                    font-weight: bold;
                    letter-spacing: 2.5px;
                    color: $theme-color;
                    font-family: "Chivo", sans-serif;
                }

                .old-price {
                    font-size: 13px;
                    font-weight: bold;
                    letter-spacing: 2.5px;
                    color: #272f33;
                    font-family: "Chivo", sans-serif;
                    text-decoration: line-through;
                    opacity: 0.5;
                }

            }

        }
    }
}

//post-card-slider=====
.post-card-slider {
    .col-md-2 {
        @media (max-width:991px) {
            padding: 0px 10px;
            width: 210px !important;
        }
    }
}

// Instagram feed grid block
.card-title{
    font-family: $bodyfont;
    font-size: 26px;
    line-height: 1.15;
    font-weight: bold;
    margin: 0;
    font-style: italic;
}

.instagram-feed{

    &-title{
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);

        margin: 15px 0;

        @media (max-width:575.50px) {
            @include flex-flow(column);
            margin-bottom: 20px;
        }
    }

    .card-title{
        @include flexbox();
        @include align-items(center);
        -webkit-column-gap: 15px;
        -moz-column-gap: 15px;
            column-gap: 15px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: $theme-color;

        @media (max-width:575.50px) {
            margin-bottom: 10px;
        }
    }

    .btn{
        text-transform: uppercase;
        font-family: $font-head;
        margin: 0;
    }

    .row-card-items{
        margin: 0;
        overflow-x: auto;
        @include flex-wrap(nowrap);
        gap: 5px;

        @media (max-width:575.50px) {
            margin: 0 -5px;
            @include flex-wrap(wrap);
        }

        img{
            display: block;
            max-width: 100%;
            height: auto;

            @media (max-width:575.50px) {
                width: calc(50% - 2.5px);

                &:nth-child(5), &:nth-child(6){
                    display: none;
                }
            }
        }

        &::-webkit-scrollbar {
            height: 5px;
        }
        
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
        }
        
        &::-webkit-scrollbar-thumb {
            height: 5px;
            border-radius: 10px;
            background-color: $theme-color;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background-color: $theme-color;
        }
        
        &::-webkit-scrollbar:vertical {
            display: none;
        }
    }
}